@CHARSET "UTF-8";

body {
	text-align: center;
}

#map_canvas {
	margin-left: 5%;
	height: 700px;
	width: 90%;
}

#map_info{
	height: auto;
	width: 100%;
}

button{
	width: 10%;
}

#addressSearchBarDiv {
	height: 60px;
	width: 100%;
}

.linksDiv {
	height: 50px;
	width: 100%;
	text-align: center;
}

.linksDiv > a {
	padding-left: 7px;
	padding-top: 7px;
}

#adminMenu{
	text-align: center;
	height: auto;
	width: 100%;
}

.shapefileProgressTable{
	text-align: left;
	margin-left: 42%;
}